@charset "utf-8";

#top_bar{width: 100%;height: 7vh;background-color: #454b53;}
#top_bar>h2>a{font-size: 1.2em;color: #fff;line-height: 7vh;}
#top_bar>h2>a>i{padding: 0 5%;}

#container{width: 100%;}
#container>.map_box{width: 84%;margin: 0 auto;padding: 8vh 0 9vh;}
#container .ct_tit{margin-bottom: 5%;}
#container .ct_tit>span{padding: 1.5vh 0 5vh;font-size: 1.6em;border-top: 2px solid #ef0010; color: rgb(54, 54, 54);}
#container #map{width: 100%;height: 30vh;}