@charset "utf-8";

#top_bar{width: 100%;height: 7vh;background-color: #454b53;}
#top_bar>h2>a{font-size: 1.2em;color: #fff;line-height: 7vh;}
#top_bar>h2>a>i{padding: 0 5%;}

#container{width: 100%;}
#container>.descript_ct{width: 100%; padding: 8vh 0 9vh;}
#container>.descript_ct>.descript_box{width: 84%;margin: 0 auto;}
#container>.descript_ct>.descript_box>p{text-align: center;line-height: 1.8em;}
#container>.descript_ct>.descript_box>.des_tit{padding-bottom: 10%; font-size: 1.5em; color: #ef0010;}
#container>.descript_ct>.descript_box>.des_txt{font-size: 1.2em;color: #333;}

#container>.ceo_ct{width: 100%;padding-bottom: 9vh;background-image: url(../images/ceo_bg.jpg);background-size: contain;background-repeat: no-repeat;}
#container>.ceo_ct>.ct_tit{margin-left: 8%;}
#container>.ceo_ct>.ct_tit>span{padding: 1.5vh 0 5vh;font-size: 1.6em;border-top: 2px solid #ef0010; color: rgb(54, 54, 54);}
#container>.ceo_ct>.ceo_box{width: 84%;margin: 0 auto;padding-top: 35vh;}
#container>.ceo_ct>.ceo_box>p{color: #333;text-align: center;line-height: 1.8em;}
#container>.ceo_ct>.ceo_box>.ceo_txt{font-size: 1.2em;}
#container>.ceo_ct>.ceo_box>.ceo_name{font-size: 1.4em;padding: 7% 0 5%;}
#container>.ceo_ct>.ceo_box>img{display: block;margin: 0 auto;}

